* text=auto !eol
/.project -text
ant-build/resources/trang.jar -text
/build.xml -text
/default.css -text
examples/example1.obfl -text
/markup.js -text
/obfl-evaluation-language.html -text svneol=unset#text/plain
/obfl-specification.html -text svneol=unset#text/plain
validation/obfl.dtd -text
